.pinterest h1 {
  width: 100%;
  text-align: center;
  font-size: calc(16px + 2vw);
}

.pinterest p {
  opacity: 70%;
  width: 100%;
  text-align: center;
  font-size: calc(5px + 2vw);
}

.pinterest {
  height: 100%;
  padding: 20px;
}

.board {
  height: calc(120 * var(--index));
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: 
  "photo1 photo1 photo2 photo3"
  "photo1 photo1 photo4 photo5"
  "photo6 photo6 photo7 photo7"
  "photo6 photo6 photo8 photo9"
  "photo6 photo6 photo10 photo11";
  gap: calc(0.5 * var(--index));
}

.photo {
  padding: 10px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.photo img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.photo:nth-child(1) {
  grid-area: photo1;
}

.photo:nth-child(2) {
  grid-area: photo2;
}

.photo:nth-child(3) {
  grid-area: photo3;
}

.photo:nth-child(4) {
  grid-area: photo4;
}

.photo:nth-child(5) {
  grid-area: photo5;
}

.photo:nth-child(6) {
  grid-area: photo8;
}

.photo:nth-child(7) {
  grid-area: photo9;
}

.photo:nth-child(8) {
  grid-area: photo7;
}

.photo:nth-child(9) {
  grid-area: photo10;
}

.photo:nth-child(10) {
  grid-area: photo11;
}

.photo:nth-child(11) {
  grid-area: photo6;
}

.photo:hover {
  transform: scale(0.95);
}

.photo::before {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: fit-content;
  bottom: -50%;
  left: 0;
  padding: 5% 0px;
  content: 'Cookie is awesome!';
  color: white;
  font-size: calc(1 * var(--index));
  font-weight: 400;
  text-align: center;
  background: linear-gradient(to bottom, transparent, rgb(0, 0, 0, 0.4));
  transition: all 0.5s ease-in-out;
}

.photo:hover::before {
  bottom: 0;
}