:root {
  --grey-color: #e0e0e0;
}

.cart-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 20px;
  width: 90vw;
}

.products-container {
  width: 55%;
  height: 80vh;
  overflow-y: scroll;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.products-container::-webkit-scrollbar {
  width: 5px;
}

.products-container::-webkit-scrollbar-track {
  background: white;
}

.products-container::-webkit-scrollbar-thumb {
  background-color: whitesmoke;
  border-radius: 5px;
}

.product-card {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: var(--main-color);
}

.product-card span {
  color: white;
  font-size: calc(12px + 0.5vw);
}

.product-card .image-container {
  width: calc(40px + 3vw);
  height: calc(40px + 3vw);
  border-radius: 50%;
  overflow: hidden;
}

.product-card .image-container img{
  min-width: 100%;
  min-height: 100%;
}

.product-card__name {
  flex: 1;
  margin-left: 10px;
}

.product-card .line {
  width: 2px;
  height: calc(40px + 3vw);
  background: white;
}

.product-card__cost {
  width: calc(60px + 3vw);
  right: 20px;
  font-weight: 900;
  text-align: center;
}

.product-card .addmore {
  width: calc(80px + 3vw);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.product-card .more-button,
.product-card .less-button {
  height: 30px;
  width: 30px;
  padding: 0;
  background: none;
  font-size: 25px;
  color: white;
  font-weight: 500;
  border-radius: 50%;
}

.cart-result {
  width: 40%;
  max-height: 80vh;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  padding-bottom: 0;
  display: flex;
  flex-flow: column;
}

.cart-result > * {
  width: 75%;
}

.cart-head {
  position: relative;
  color: black;
  font-size: calc(16px + 0.7vw);
  font-weight: 900;
  text-align: center;
}

.cart-head::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: black;
}

.result-line,
.cost-line,
.delivery-line {
  font-size: calc(12px + 0.5vw);
  font-weight: 500;
}

.result,
.result-cost,
.result-delivery {
  float: right;
}

.cart-container input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid var(--main-color);
}

/* Стили для отмеченного флажка */
.cart-container input[type="checkbox"]:checked {
  background-color: var(--main-color);
}

.cart-container label {
  font-size: calc(12px + 0.2vw);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: right;
}

.button-order {
  padding: 15px 5px;
  font-size: calc(12px + 0.5vw);
  font-weight: 500;
}

.cart-container img {
  width: calc(150px + 7vw);
}

@media (max-width: 980px) and (min-width: 795px)  {
  .cart-result {
    width: 45%;
  }
  .cart-result > * {
    width: 90%;
  }
  .product-card {
    padding: 7px 7px;
  }
  .product-card span {
    font-size: calc(12px + 0.1vw);
  }
}

@media (max-width: 795px) and (min-width: 500px) {
  .cart-container {
    position: relative;
    flex-flow: wrap-reverse;
    height: 100vh;
  }
  .products-container {
    width: 100%;
    height: 50%;
  }
  .cart-result {
    padding-left: 0;
    margin-bottom: 5px;
    width: 60%;
    height: 50%;
  }
  .cart-head {
    align-self: flex-start;
    width: 85vw;
  }
  .cart-result img {
    position: absolute;
    max-height: 45vh;
    right: 5%;
    bottom: 100%;
    transform: translateY(calc(50vh - 20px));
  }
}

@media (max-width: 500px) {
  .cart-container {
    position: relative;
    flex-flow: column-reverse;
  }
  .products-container {
    width: 100%;
    height: 50vh;
  }
  .cart-result > * {
    width: 100%;
    margin-bottom: 5px;
  }
  .cart-result {
    width: 100%;
    padding: 10px;
  }
  .product-card span {
    font-size: 12px;
  }
  .product-card .image-container {
    width: calc(40px + 1vw);
    height: calc(40px + 1vw);
  }
}

@media (max-width: 391px) {
  .product-card .image-container {
    width: 0;
  }
  .product-card .addmore {
    flex: 1;
  }
}

