.for_footer {
  display: grid;
  justify-content: end;
  align-content: end;
  background-color: var(--main-color);
}

footer {
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: var(--main-color);
}

footer .footer_container {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr minmax(270px, 1fr) minmax(300px, 1fr);
  gap: 20px;
}

footer .footer_container .sec h2 {
  position: relative;
  color: white;
  font-weight: 500;
  margin-bottom: 15px;
  margin-left: 0;
}

footer .footer_container .sec h2:before {
  content:'';
  position:absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: white;
}

footer .footer_container .sec p {
  color: white;
  font-size: calc(10px + 0.5vw);
}

.sci {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 0.3fr);
  justify-items: center;
}

.sci li {
  list-style: none;
}

.sci li a {
  position: relative;
  color:white;
  overflow: hidden;
  display: inline-block;
  border-radius: 50%;
  width: calc(30px + 1vw);
  height: calc(30px + 1vw);
  background: grey;
  display: grid;
  align-content: center;
  justify-content: center;
}
.sci li a::before {
  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;
}

#yt::before {
  background: linear-gradient(to bottom, #ff94a1, #ff939c);
}
#tg::before {
  background: linear-gradient(to bottom, #b6fdff, #90edff);
}
#tel::before {
  background: linear-gradient(to bottom, #bcffd5, #8cffa7);
}

.sci li a:hover::before {
  top: 0;
}

.sci li a .fa-brands {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.quicklinks {
  position: relative;
}

.quicklinks li {
  list-style: none;
}

.quicklinks li a {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.quicklinks li a:hover {
  text-decoration: underline;
}

.info {
  position: relative;
  margin: 0;
}

.info li {
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 16px;
}

.info li span:nth-child(1) {
  color: white;
  font-size: 20px;
}

.info li span {
  color: white;
}

.info a {
  color: white;
  text-decoration: none;
}

.info li a:hover {
  text-decoration: underline;
}

.copyrightingText {
  width: 100%;
  background: var(--main-color);
  padding: 8px 100px;
  text-align: center;
  color: white;
}

.sec ul {
  padding: 0;
}

@media (max-width: 1000px) {
  footer {
    padding: 40px;
    padding-bottom: 10px
  }
  footer .footer_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .copyrightingText {
    padding: 8px 40px;
  }
}

@media (max-width: 768px) {
  footer .footer_container {
    grid-template-columns: repeat(1, 1fr);
  }
}